In [1]:
import warnings
warnings.filterwarnings('ignore')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import scipy.stats as stats
from numpy import nan

In [2]:
data = pd.read_csv('crime_india2014.csv')
data.head(10)

,city,year,crime,incidences,rate
0,Agra,2014,Attempt to rape,78,4.5
1,Agra,2014,Attempt to commit C.H. Not Amounting To Murder,88,5.0
2,Agra,2014,Attempt To Commit Murder,17,1.0
3,Agra,2014,Murder,71,4.1
4,Agra,2014,Total Rape,38,4.7
5,Ahmedabad,2014,Attempt to rape,82,1.3
6,Ahmedabad,2014,Attempt to commit C.H. Not Amounting To Murder,61,1.0
7,Ahmedabad,2014,Attempt To Commit Murder,6,0.1
8,Ahmedabad,2014,Murder,0,0.0
9,Ahmedabad,2014,Total Rape,100,3.3

In [7]:
data.info(10)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2491 entries, 0 to 2490
Data columns (total 5 columns):
city          2491 non-null object
year          2491 non-null int64
crime         2491 non-null object
incidences    2491 non-null object
rate          2491 non-null float64
dtypes: float64(1), int64(1), object(3)
memory usage: 97.4+ KB

In [4]:
print('Homocide:', data[data.crime == 'Murder'].city.count())

Homocide: 53

In [5]:
data['city'].value_counts().keys()

Index(['Durg-Bhilainagar', 'Jamshedpur', 'Kolkata', 'Jodhpur', 'Aurangabad',
       'Patna', 'Kollam', 'Ludhiana', 'Vishakhapatnam', 'Coimbatore',
       'Srinagar', 'Indore', 'Kanpur', 'Jaipur', 'Ahmedabad', 'Kannur',
       'Thrissur', 'Delhi (City)', 'Chandigarh City', 'Surat', 'Malappuram',
       'Thiruvananthapuram', 'Pune', 'Allahabad', 'Kochi', 'Lucknow',
       'Chennai', 'Bhopal', 'Ranchi', 'Agra', 'Nasik', 'Raipur', 'Bengaluru',
       'Asansol', 'Rajkot', 'Ghaziabad', 'Kota', 'Amritsar', 'Jabalpur',
       'Faridabad', 'Madurai', 'Meerut', 'Mumbai', 'Vijayawada', 'Vadodara',
       'Vasai Virar', 'Nagpur', 'Varanasi', 'Kozhikode', 'Dhanbad', 'Gwalior',
       'Flyderabad', 'Tiruch irapalli', 'Tiruchirapalli', 'Hyderabad'],
      dtype='object')

In [11]:
data['city'].count()

2491